{if $isLogin}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="navbar-header"><a class="navbar-brand" href="{$basedomain}home"><img src="{$basedomain}assets/images/logo-touch-green.png"/></a>
</div>
{*}
<div class="page-title">
	<h1><span class="icon-house icons">&nbsp;</span>Dashboard</h1>
</div>{/*}

<a class="logoutBtn boxBtn" href="{$basedomain}logout.php"><span class="icons icon-lock">&nbsp;</span></a>
{if $pages=='chartreport'}{else}
<a class="downloadBtn boxBtn" href="javascript:void(0)" onclick="downloadreport()" ><span class="icons icon-download">&nbsp;</span></a>{/if}
{*}
<a class="boxBtn boxBtn2 {if $pages=='entouragePhoto'}active{/if}" href="{$basedomain}entouragePhoto">List Photo</a>
<a class="boxBtn boxBtn2 {if $pages=='chartreport'}active{/if}" href="{$basedomain}chartreport">Chart Report</a>
{/*}



{*}
<a class="boxBtn boxBtn2 {if $pages=='home'}active{/if}" href="{$basedomain}home">List Report</a>
{/*}
{*}
<a class="boxBtn boxBtn2 {if $pages=='breakdoubt'}active{/if}" href="{$basedomain}breakdoubt">Break Doubt</a>
<a class="boxBtn boxBtn2  {if $pages=='findwhatmissing'}active{/if}" href="{$basedomain}findwhatmissing">Find What Missing</a>
{/*}
{if $user}<p class="userText"><span>Hi,</span><span>{$user->name}</span></p>{/if}
</nav>

{/if}

 {literal}
 <script>
	function downloadreport(){
		if(window.location.search==''){
			window.location = window.location.href+'?download=report';		
		}else{
			if(window.location.search.match(/download=report/)){
				window.location =window.location.reload();
			}else{			 
				window.location =window.location.href+'&download=report';
			}
		}
	}
 </script>
 {/literal}